@import "compass/css3";
@import "lib/colors";
@import "lib/buttons";

body {
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 300;
  margin: 0;
  color: $grey;
  @include experimental(font-smoothing, antialiased);
  background-color: $grey;
}

a {
  text-decoration: none;
  color: $grey;

}

h1 {
  margin: 0;
  font-weight: 300;
  font-size: 240.62%;
  margin-bottom: .25em;
}

h2 {
  margin: 0;
  margin-bottom: .5em;
  font-weight: 300;
  &:before {
    content: "> ";
  }
}