@import "lib/colors";
@import "lib/buttons";

body {
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 300;
  margin: 0;
  color: $grey;
}

a {
  text-decoration: none;
  color: $grey;
}

h1 {
  font-weight: 300;
  font-size: 240.62%;
}