@import "compass/css3";
@import "lib/colors";
@import "lib/buttons";
@import "lib/media";

body {
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 300;
  margin: 0;
  color: $grey;
  @include experimental(font-smoothing, antialiased);
  background-color: $grey;
}

a {
  text-decoration: none;
  color: $grey;

}

h1 {
  margin: 0;
  font-weight: 300;
  font-size: 240.62%;
  margin-bottom: .25em;
  @include size-small {
    margin-left: 1rem;
  }
}

h2 {
  margin: 0;
  margin-bottom: .1em;
  font-weight: 300;
  font-size: 180%;
  margin-left: .5em;
}

h3 {
  margin-left: 1rem;
}

p {
  margin: .2em 0;
  margin-left: 1em;
  max-width: 40rem;
}