@import "compass/css3";
@import "lib/media";
@import "lib/colors";

.inner-width {
  width: 100%;
  padding: 0 1em;
  @include box-sizing(border-box);

  @include desktop {
    width: 66em;
  }
}


.padded-section {
  padding: 3rem 0;
}

.margin-centered {
  margin: auto;
}

.hidden {
  display: none;
}

.green-link {
  color: $aqua;
}

.code {
  border: solid 1px $grey;
  background-color: $light-grey;
  padding: .25rem .5rem;
  @include border-radius(4px);
  display: inline-block;
}

.terminal-arrow {
  &:before {
    content: "> ";
  }
}