@import "compass/css3";
@import "lib/colors";

.try-now {
  background-color: $light-grey;
}

.try-now_post-to-twitter-code {
  overflow: hidden;
  width: 41em;
  height: 12.75em;
  @include transform-origin(0 0 0);
  border-bottom: solid 1px #DDDDDD;
  @include size-small {
    @include transform(scale(.65));
    width: 27em;
  }
}

.try-now_instructions {
  font-size: 140%;
}

.try-now_instruction-item {
  margin-bottom: 1rem;
}

$button-width: 14rem;

.try-now_bookmarklet-button {
  margin: .5rem 0;
  font-size: 120%;
  width: $button-width;
  text-align: center;
  &:before {
    content: '\f101';
    display: inline-block;
    font-family: "fontcustom";
    display: inline-block;
    margin-right: .4rem;
  }
  &:after {
    content: 'Bookmarklet';
    display: inline-block;
  }
  &:active {
    &:before {
      content: '\f100';
    }
    &:after {
      content: 'Drag me!';
    }
  }
  @include experimental-value(cursor, grab);
}

.try-now_bookmarklet-container {
  width: $button-width;
  &:hover {
    .try-now_bookmarklet-tooltip {
      display: block;
    }
  }
}

.try-now_bookmarklet-tooltip {
  position: fixed;
  top: 1rem;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 2;
  background-color: $white;
  font-size: 130%;
  width: 18rem;
  padding: 1rem .5rem;
  text-align: center;
  @include border-radius(4px);
  border: solid 1px rgba($grey, .5);
  &:before {
    content: '';
    width: 0;
    height: 0;
    border-left: 1rem solid transparent;
    border-right: 1rem solid transparent;
    border-bottom: 1rem solid rgba($grey, .5);
    display: block;
    position: absolute;
    top: -1rem;
  }
  &:after {
    content: '';
    width: 0;
    height: 0;
    border-left: 1rem solid transparent;
    border-right: 1rem solid transparent;
    border-bottom: 1rem solid $white;
    display: block;
    position: absolute;
    top: -.95rem;
  }
}

.try-now_example-bookmark {
  font-size: 90%;
  margin-top: .25em;
  padding: .25em .5em;
  cursor: default;
}