/* line 9, ../../scss/lib/buttons.scss */
.button {
  border: solid 1px white;
  display: inline-block;
  padding: .5em 1em;
  font-size: 200%;
  text-transform: uppercase;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  cursor: pointer;
}
/* line 18, ../../scss/lib/buttons.scss */
.button:active {
  background-color: white;
  color: #50756f;
}

/* line 23, ../../scss/lib/buttons.scss */
.button--primary {
  background-color: white;
  color: #50756f;
}
/* line 25, ../../scss/lib/buttons.scss */
.button--primary:active {
  background-color: transparent;
  color: white;
}

/* line 31, ../../scss/lib/buttons.scss */
.button--boring {
  border: solid 1px #7b7b7b;
  background-color: #7b7b7b;
  color: white;
}
/* line 35, ../../scss/lib/buttons.scss */
.button--boring:active {
  background-color: white;
  color: #7b7b7b;
}

/* line 6, ../../scss/base.scss */
body {
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 300;
  margin: 0;
  color: #7b7b7b;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  background-color: #7b7b7b;
}

/* line 16, ../../scss/base.scss */
a {
  text-decoration: none;
  color: #7b7b7b;
}

/* line 22, ../../scss/base.scss */
h1 {
  margin: 0;
  font-weight: 300;
  font-size: 240.62%;
  margin-bottom: .25em;
}
@media (max-width: 20em) {
  /* line 22, ../../scss/base.scss */
  h1 {
    margin-left: 1rem;
  }
}

/* line 32, ../../scss/base.scss */
h2 {
  margin: 0;
  margin-bottom: .1em;
  font-weight: 300;
  font-size: 180%;
  margin-left: .5em;
}

/* line 40, ../../scss/base.scss */
h3 {
  margin-left: 1rem;
}

/* line 44, ../../scss/base.scss */
p {
  margin: .2em 0;
  margin-left: 1em;
  max-width: 40rem;
}

/* line 5, ../../scss/mixins.scss */
.inner-width {
  width: 100%;
  padding: 0 1em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@media (min-width: 64em) {
  /* line 5, ../../scss/mixins.scss */
  .inner-width {
    width: 66em;
  }
}

/* line 15, ../../scss/mixins.scss */
.padded-section {
  padding: 3rem 0;
}

/* line 19, ../../scss/mixins.scss */
.margin-centered {
  margin: auto;
}

/* line 23, ../../scss/mixins.scss */
.hidden {
  display: none;
}

/* line 27, ../../scss/mixins.scss */
.green-link {
  color: #50756f;
}

/* line 31, ../../scss/mixins.scss */
.code {
  border: solid 1px #7b7b7b;
  background-color: #e6e6e6;
  padding: .25rem .5rem;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  display: inline-block;
  font-family: monospace;
  margin-top: .5em;
}
@media (max-width: 20em) {
  /* line 31, ../../scss/mixins.scss */
  .code {
    font-size: 60%;
    word-wrap: break-word;
    max-width: 15rem;
    overflow: auto;
  }
}

/* line 48, ../../scss/mixins.scss */
.terminal-arrow:before {
  content: "> ";
}

/* line 6, ../../scss/header.scss */
.site-header {
  background-color: rgba(255, 255, 255, 0.95);
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  color: #7b7b7b;
  height: 5rem;
  -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
  z-index: -1;
}
@media (min-width: 48.1em) {
  /* line 6, ../../scss/header.scss */
  .site-header {
    height: 3rem;
  }
}
@media (min-width: 48.1em) {
  /* line 6, ../../scss/header.scss */
  .site-header {
    z-index: 1;
  }
}

/* line 21, ../../scss/header.scss */
.site-header_logo {
  width: 11.75em;
  height: 1.25em;
  margin-left: auto;
  margin-right: auto;
  background-image: url("../img/browserstig_logo_solid.png");
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 1em;
}
@media (min-width: 48.1em) {
  /* line 21, ../../scss/header.scss */
  .site-header_logo {
    display: inline-block;
    float: left;
    margin-left: .5rem;
  }
}

/* line 37, ../../scss/header.scss */
.site-header_nav {
  display: block;
  width: 15.8125em;
  margin-left: auto;
  margin-right: auto;
  margin-top: -0.25em;
  text-transform: uppercase;
  position: relative;
}
@media (min-width: 48.1em) {
  /* line 37, ../../scss/header.scss */
  .site-header_nav {
    width: auto;
    margin-top: 0;
    float: right;
  }
}

/* line 52, ../../scss/header.scss */
.site-header_nav-item {
  float: left;
  margin: 1rem .5rem;
}
@media (min-width: 48.1em) {
  /* line 52, ../../scss/header.scss */
  .site-header_nav-item {
    margin: 1rem;
  }
}

/* line 60, ../../scss/header.scss */
.site-header_github-icon {
  position: relative;
  font-size: 125%;
  top: -0.2rem;
  display: inline-block;
}

/* line 14, ../../scss/hero.scss */
.site-hero {
  background-image: url("../img/browserstig_blurred_bg.jpg");
  background-size: cover;
  height: 27.3em;
  width: 100%;
  margin-top: 3em;
  padding: 3em 0;
  color: white;
  position: relative;
  margin-top: 5rem;
  font-size: 36%;
}
@media (min-width: 48.1em) {
  /* line 14, ../../scss/hero.scss */
  .site-hero {
    margin-top: 3rem;
  }
}
@media (min-width: 20.1em) and (max-width: 48em) {
  /* line 14, ../../scss/hero.scss */
  .site-hero {
    font-size: 70%;
  }
}
@media (min-width: 48.1em) {
  /* line 14, ../../scss/hero.scss */
  .site-hero {
    font-size: 100%;
  }
}

/* line 35, ../../scss/hero.scss */
.site-hero_logo {
  color: white;
  background-image: url("../img/browserstig_outline_logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 52.0625em;
  height: 5.25em;
}
@media (min-width: 20.1em) and (max-width: 48em) {
  /* line 35, ../../scss/hero.scss */
  .site-hero_logo {
    width: 90%;
  }
}

/* line 48, ../../scss/hero.scss */
.site-hero_browsers-img {
  margin-top: 3rem;
  width: 28em;
  height: 5em;
  background-image: url("../img/browsers_outline.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
@media (max-width: 20em) {
  /* line 48, ../../scss/hero.scss */
  .site-hero_browsers-img {
    margin-top: 1rem;
  }
}
@media (min-width: 20.1em) and (max-width: 48em) {
  /* line 48, ../../scss/hero.scss */
  .site-hero_browsers-img {
    margin-top: 2rem;
  }
}
@media (min-width: 20.1em) and (max-width: 48em) {
  /* line 48, ../../scss/hero.scss */
  .site-hero_browsers-img {
    width: 60%;
  }
}

/* line 61, ../../scss/hero.scss */
.site-hero_tagline {
  width: 19em;
  margin-top: 3rem;
}
@media (min-width: 48.1em) {
  /* line 61, ../../scss/hero.scss */
  .site-hero_tagline {
    width: 18.8em;
  }
}
@media (max-width: 20em) {
  /* line 61, ../../scss/hero.scss */
  .site-hero_tagline {
    margin-top: 1rem;
  }
}
@media (min-width: 20.1em) and (max-width: 48em) {
  /* line 61, ../../scss/hero.scss */
  .site-hero_tagline {
    margin-top: 2rem;
  }
}

/* line 69, ../../scss/hero.scss */
.site-hero_buttons {
  text-align: center;
  margin-top: 3rem;
}
@media (max-width: 20em) {
  /* line 69, ../../scss/hero.scss */
  .site-hero_buttons {
    margin-top: 1rem;
  }
}
@media (min-width: 20.1em) and (max-width: 48em) {
  /* line 69, ../../scss/hero.scss */
  .site-hero_buttons {
    margin-top: 2rem;
  }
}

/* line 74, ../../scss/hero.scss */
.site-hero_install-button {
  margin-left: 2em;
}
@media (max-width: 20em) {
  /* line 74, ../../scss/hero.scss */
  .site-hero_install-button {
    margin-left: 1em;
  }
}
@media (min-width: 20.1em) and (max-width: 48em) {
  /* line 74, ../../scss/hero.scss */
  .site-hero_install-button {
    margin-left: .2em;
  }
}

/* line 84, ../../scss/hero.scss */
.site-hero_try-button {
  color: white;
}

/* line 4, ../../scss/trynow.scss */
.try-now {
  background-color: #e6e6e6;
}

/* line 8, ../../scss/trynow.scss */
.try-now_post-to-twitter-code {
  overflow: hidden;
  width: 41em;
  height: 12.75em;
  -webkit-transform-origin: 0 0 0 50%;
  -moz-transform-origin: 0 0 0 50%;
  -ms-transform-origin: 0 0 0 50%;
  -o-transform-origin: 0 0 0 50%;
  transform-origin: 0 0 0 50%;
  border-bottom: solid 1px #DDDDDD;
}
@media (max-width: 20em) {
  /* line 8, ../../scss/trynow.scss */
  .try-now_post-to-twitter-code {
    -webkit-transform: scale(0.65);
    -moz-transform: scale(0.65);
    -ms-transform: scale(0.65);
    -o-transform: scale(0.65);
    transform: scale(0.65);
    width: 27em;
  }
}

/* line 20, ../../scss/trynow.scss */
.try-now_instructions {
  font-size: 140%;
}

/* line 24, ../../scss/trynow.scss */
.try-now_instruction-item {
  margin-bottom: 1rem;
}

/* line 30, ../../scss/trynow.scss */
.try-now_bookmarklet-button {
  margin: .5rem 0;
  font-size: 120%;
  width: 14rem;
  text-align: center;
  cursor: -webkit-grab;
  cursor: -moz-grab;
  cursor: -ms-grab;
  cursor: -o-grab;
  cursor: grab;
}
/* line 35, ../../scss/trynow.scss */
.try-now_bookmarklet-button:before {
  content: '\f101';
  display: inline-block;
  font-family: "fontcustom";
  display: inline-block;
  margin-right: .4rem;
}
/* line 42, ../../scss/trynow.scss */
.try-now_bookmarklet-button:after {
  content: 'Bookmarklet';
  display: inline-block;
}
/* line 47, ../../scss/trynow.scss */
.try-now_bookmarklet-button:active:before {
  content: '\f100';
}
/* line 50, ../../scss/trynow.scss */
.try-now_bookmarklet-button:active:after {
  content: 'Drag me!';
}

/* line 57, ../../scss/trynow.scss */
.try-now_bookmarklet-container {
  width: 14rem;
}
/* line 60, ../../scss/trynow.scss */
.try-now_bookmarklet-container:hover .try-now_bookmarklet-tooltip {
  display: block;
}

/* line 66, ../../scss/trynow.scss */
.try-now_bookmarklet-tooltip {
  position: fixed;
  top: 1rem;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 2;
  background-color: white;
  font-size: 130%;
  width: 18rem;
  padding: 1rem .5rem;
  text-align: center;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  border: solid 1px rgba(123, 123, 123, 0.5);
}
/* line 80, ../../scss/trynow.scss */
.try-now_bookmarklet-tooltip:before {
  content: '';
  width: 0;
  height: 0;
  border-left: 1rem solid transparent;
  border-right: 1rem solid transparent;
  border-bottom: 1rem solid rgba(123, 123, 123, 0.5);
  display: block;
  position: absolute;
  top: -1rem;
}
/* line 91, ../../scss/trynow.scss */
.try-now_bookmarklet-tooltip:after {
  content: '';
  width: 0;
  height: 0;
  border-left: 1rem solid transparent;
  border-right: 1rem solid transparent;
  border-bottom: 1rem solid white;
  display: block;
  position: absolute;
  top: -0.95rem;
}

/* line 104, ../../scss/trynow.scss */
.try-now_example-bookmark {
  font-size: 90%;
  margin-top: .25em;
  padding: .25em .5em;
  cursor: default;
}

/* line 3, ../../scss/installdocs.scss */
.install {
  background-color: white;
}

/* line 7, ../../scss/installdocs.scss */
.install > .padded-section {
  padding-bottom: .25em;
}

/* line 11, ../../scss/installdocs.scss */
.docs {
  background-color: white;
}
/* line 13, ../../scss/installdocs.scss */
.docs li {
  margin-bottom: 1em;
}

/* line 3, ../../scss/footer.scss */
.site-footer {
  height: 4em;
  background-color: #7b7b7b;
}

/* line 8, ../../scss/footer.scss */
.site-footer_logo {
  background-image: url("../img/browserstig_outline_logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 18em;
  height: 4em;
  float: left;
  margin-left: 1em;
}

/* line 19, ../../scss/footer.scss */
.site-footer_social-media-btns {
  float: right;
  margin-top: 1.5em;
}
